body {
  background-color: #fffdf6;
}

header {
  text-align: center;
}

#content {
  display: flex;
  justify-content: flex-start;
  height: 400px;
}

#content nav {
  padding: 24px;
  min-width: 300px;
  height: 352px;
  overflow: auto;
  background-color: #494949;
  color: #ffffff;
}

#content nav #google {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: flex-start;
}

#content nav #google input {
  width: 100%;
  height: 27px;
}

#content nav ul {
  padding-left: 0px;
}

#content nav .memo-index {
  list-style: none;
  padding: 8px;
}

#content nav .memo-index ul > li {
  font-size: 8px;
  list-style: none;
}

#content nav #add {
  margin-right: 16px;
  display: inline-block;
}

#content nav #clear-all {
  margin-right: 16px;
  display: inline-block;
}

main {
  padding: 8px;
  width: 100%;
}

#memo-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

#memo-card #title {
  font-size: 24px;
}

#memo-card #note {
  overflow: auto;
  font-size: 14px;
  height: 300px;
}

#search {
  overflow: auto;
  width: 100%;
  height: 400px;
}

textarea {
  border: solid 1px black;
}

footer {
  margin-top: 24px;
  text-align: center;
}

.button {
  text-align: center;
  background-color: #ece8d9;
  color: #000;
  width: 120px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.hidden {
  display: none;
}
